.notFound-window{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.message{
    font-size: 4vw;
    font-family: cursive;
}
.message-number{
    font-weight: bold;
    font-size: 7vw;
    animation: bounce 1s infinite;
    transform: translateY(10%);
    animation-timing-function: cubic-bezier(.03,.88,.84,.79);
}

@keyframes bounce{
    0% {
        transform: translateY(10%);
    }
    30%{
        transform: translateY(0);
    }
} 